{{- define "main" -}}
  {{- warnf "rendering about.html" -}}
  <div
    class="display-flex flex-wrap gap-9 lg:gap-x-12 xl:gap-x-18 items-center justify-center m-b-12 pos-relative">
    {{- partial "image.html" (dict "container" "flex-1" "image" "h-full max-h-screen-80" "name" "about" "parent" .) -}}
    <div
      class="md:flex-1">
      <h2
        class="font-400 m-0 text-9 text-center">{{- upper "Tejal Shinde" -}}</h2>
      <p
        class="font-leading-8 m-0 m-b-9 m-t-6 text-4">I've recently completed my Master of Arts in Advertising from Savannah College of Art and Design. With a problem-solving mindset, I am driven to address societal issues through impactful campaigns and leverage the power of brands for positive change. My goal is to deliver innovative solutions that make a meaningful difference. Infusing my passion for fashion, painting, and dancing, I bring a distinct and imaginative approach to every project, delivering a fresh perspective and a unique artistic vision.</p>
        <div
          class="display-flex gap-x-4 items-center justify-center">
          {{- $commonAttributes := "display-block" -}}
          <a
            class="text-current"
            href="https://www.facebook.com/tejal.shinde.9/"
            rel="nofollow noopener noreffer"
            target="_blank">
            {{- partial "tooltip.html" (dict "label" "Facebook" "name" "square-facebook" "size" 8) -}}
          </a>
          <a
            class="text-current"
            href="https://www.instagram.com/thebubblebreaker/"
            rel="nofollow noopener noreffer"
            target="_blank">
            {{- partial "tooltip.html" (dict "label" "Instagram" "name" "square-instagram" "size" 8) -}}
          </a>
          <a
            class="text-current"
            href="https://www.linkedin.com/in/tejal-shinde/"
            rel="nofollow noopener noreffer"
            target="_blank">
            {{- partial "tooltip.html" (dict "label" "LinkedIn" "name" "linkedin" "size" 8) -}}
          </a>
          <a
            class="text-current"
            href="mailto:shindevtejal@gmail.com"
            rel="nofollow noopener noreffer"
            target="_blank">
            {{- partial "tooltip.html" (dict "label" "E-mail" "name" "square-envelope" "size" 8) -}}
          </a>
        </div>
      <a
        class="decoration-none display-flex gap-x-2 group items-center m-l-auto m-t-6 md:pos-absolute md:pos-bottom-0 md:pos-right-0 text-4 text-current md:text-6 w-max"
        download="[Tejal Shinde] - Resume.pdf"
        href="{{- (.Resources.GetMatch "assets/resume.pdf").RelPermalink -}}">
        {{- partial "icon.html" (dict "name" "download" "size" 6) -}}
        <span>Download résumé</span>
        <div
          class="bg-current h-0.5 pos-absolute pos-bottom--1 transition-duration-500 transition-ease transition-width w-0 group-hover:w-full"></div>
      </a>
    </div>
  </div>
  {{- partial "video.html" (dict "name" "video-1" "parent" .) -}}
{{- end -}}