{{- define "main" -}}
  <div
    w-align = "items-center"
    w-flex = "~ wrap-reverse"
    w-font = "space"
    w-gap = "5 sm:10"
    w-m = "x-auto"
    w-max-w = "280"
    w-w = "full">
    <div
      w-flex = "1">
      <div
        w-align = "items-center"
        w-flex = "~ wrap"
        w-gap = "5"
        w-justify = "center">
        <p
          w-text = "4xl sm:8xl">
          Tejal
        </p>
        <p
          w-text = "4xl dark-100 sm:8xl dark:gray-300">
          Shinde
        </p>
      </div>
      <p
        w-m = "t-2.5 sm:t-10"
        w-text = "gray-500 lg justify dark:gray-400">
        Ambitious and highly creative Graphic Artist and Designer with talent for developing unique custom artwork. Skilled at bringing an innovative approach to idea and concept development with hands-on experience handling creative design projects for multiple organization. Professionally trained and competent in a wide range of design applications including Photoshop, CorelDraw, InDesign and Illustrator.
      </p>
    </div>
  </div>
  <div
    w-flex = "~ wrap"
    w-font = "space"
    w-m = "t-10"
    w-text = "lg"
    w-w = "full">
    <!--<safe
      w-p = "l-3.8 t-5"
      w-before = "absolute bg-dark-700 content-[''] h-4 -ml-6 rounded-full w-4 top-0.5 top-5.5 dark:bg-light-700"/>-->
    {{- $beforeBase := "absolute bg-dark-700 content-[''] h-4 -ml-6 rounded-full w-4 dark:bg-light-700" -}}
    {{- $pBase := "l-3.8" -}}
    <div
      w-flex = "sm:1"
      w-w = "full">
      <p
        w-font = "semibold"
        w-m = "b-2.5"
        w-text = "xl">
        Education
      </p>
      {{- range $index, $element := .Params.education -}}
        <div
          w-border = "gray-500 l-2 dark:gray-400"
          w-position = "relative"
          {{- if eq $index 0 -}}
            w-before = "{{- printf "%s top-0.5" $beforeBase -}}"
            w-p = "{{- $pBase -}}"
          {{- else -}}
            w-before = "{{- printf "%s top-5.5" $beforeBase -}}"
            w-p = "{{- printf "%s t-5" $pBase -}}"
          {{- end -}}>
          <p
            w-font = "leading-5">
            {{- .degree -}}
          </p>
          <p
            w-font = "italic"
            w-m = "t-2.5">
            {{- .college -}}
          </p>
        </div>
      {{- end -}}
    </div>
    <div
      w-flex = "sm:1"
      w-m = "t-5 sm:l-5 sm:t-0"
      w-w = "full">
      <p
        w-font = "semibold"
        w-m = "b-2.5"
        w-text = "xl">
        Work
      </p>
      {{- range $index, $element := .Params.works -}}
        <div
          w-border = "gray-500 l-2 dark:gray-400"
          w-position = "relative"
          {{- if eq $index 0 -}}
            w-before = "{{- printf "%s top-0.5" $beforeBase -}}"
            w-p = "{{- $pBase -}}"
          {{- else -}}
            w-before = "{{- printf "%s top-5.5" $beforeBase -}}"
            w-p = "{{- printf "%s t-5" $pBase -}}"
          {{- end -}}>
          <p
            w-font = "leading-5">
            {{- .position -}}
          </p>
          <p
            w-font = "italic"
            w-m = "t-2.5">
            {{- .company -}}
          </p>
          <ul
            w-list = "disc"
            w-m = "t-2.5"
            w-p = "l-2.5"
            w-text = "gray-500 dark:gray-400">
            {{- range .features -}}
              <li>
                {{- . -}}
              </li>
            {{- end -}}
          </ul>
        </div>
      {{- end -}}
    </div>
  </div>
{{- end -}}