{{- define "main" -}}
  <!--suppress HtmlUnknownAttribute, XmlUnboundNsPrefix -->
  <section
    x-init = "$store.currentPage = 'contact'"
    w:bg = "black/75"
    w:m = "x-auto"
    w:max-w = "7xl"
    w:min-h = "full"
    w:p = "5"
    w:w = "full">
    <div
      w:align = "items-center"
      w:flex = "~"
      w:w = "full sm:1/4">
      <p
        w:text = "uppercase">
        {{- .Title -}}
      </p>
      <hr
        w:border = "~ green-500"
        w:flex = "grow"
        w:m = "l-2.5"/>
    </div>
    <p
      w:font = "bold"
      w:m = "t-2.5"
      w:text = "3xl uppercase">
      Contact me
    </p>
    <!--<safe
      w:cursor = "auto not-allowed"/>-->
    <div
      x-data = "form($el)"
      x-bind:w:cursor = "progress ? 'not-allowed' : 'auto'"
      w:bg = "white/[0.05]"
      w:m = "t-5"
      w:p = "p-5"
      w:w = "full">
      <!--<safe
        w:filter = "~ brightness-50 brightness-100"
        w:pointer = "auto none"/>-->
      <form
        x-bind:w:filter = "`${progress ? 'brightness-50' : 'brightness-100'} ~`"
        x-bind:w:pointer = "progress ? 'none' : 'auto'"
        x-on:submit.prevent = "onSubmit($event)">
        <div
          w:flex = "~ wrap">
          <label
            w:flex = "sm:1"
            w:w = "full">
            <span
              w:display = "hidden">
              Name:
            </span>
            <input
              name = "name"
              placeholder = "Name"
              type = "text"
              required
              x-bind:disabled = "progress"
              w:bg = "white/10"
              w:outline = "none"
              w:p = "2"
              w:w = "full"/>
          </label>
          <label
            w:flex = "sm:1"
            w:m = "t-2.5 sm:l-5 sm:t-0"
            w:w = "full">
            <span
              w:display = "hidden">
              E-mail:
            </span>
            <input
              name = "email"
              placeholder = "E-mail"
              type = "email"
              required
              x-bind:disabled = "progress"
              w:bg = "white/10"
              w:outline = "none"
              w:p = "2"
              w:w = "full"/>
          </label>
        </div>
        <div
          w:m = "t-2.5">
          <label
            w:w = "full">
            <span
              w:display = "hidden">
              Subject:
            </span>
            <input
              name = "subject"
              placeholder = "Subject"
              type = "text"
              required
              x-bind:disabled = "progress"
              w:bg = "white/10"
              w:outline = "none"
              w:p = "2"
              w:w = "full"/>
          </label>
        </div>
        <div
          w:m = "t-2.5">
          <label
            w:w = "full">
            <span
              w:display = "hidden">
              Message:
            </span>
            <textarea
              name = "message"
              placeholder = "Message"
              required
              x-bind:disabled = "progress"
              w:bg = "white/10"
              w:min-h = "125px"
              w:outline = "none"
              w:resize = "none"
              w:p = "2"
              w:w = "full"></textarea>
          </label>
        </div>
        <button
          x-bind:disabled = "progress"
          w:bg = "green-500 hover:green-700"
          w:m = "t-2.5"
          w:p = "1.5"
          w:transition = "background duration-250 ease-in-out">
          Send message
        </button>
        <div
          x-show = "progress"
          x-transition:enter-start = "opacity-0 translate-y-20"
          x-transition:enter-end = "opacity-100 translate-y-0"
          x-transition:leave = "delay-[2500ms]"
          x-transition:leave-start = "opacity-100 translate-y-0"
          x-transition:leave-end = "opacity-0 translate-y-20"
          w:h = "14"
          w:m = "t-2.5"
          w:max-w = "320px"
          w:transform = "~"
          w:transition = "duration-250 ease-in-out slide"
          w:w = "full">
          <!--<safe
            w:bg = "green-500 red-500 yellow-500"/>-->
          <div
            x-bind:w:bg = "progress ? 'yellow-500' : error ? 'red-500' : 'green-500'"
            w:align = "items-center"
            w:flex = "~"
            w:h = "full"
            w:justify = "center"
            w:transition = "background duration-250 ease-in-out"
            w:w = "full">
            <div
              w:align = "items-center"
              w:flex = "~">
              <template
                x-if = "progress">
                <svg
                  viewBox = "0 0 24 24"
                  xmlns = "http://www.w3.org/2000/svg"
                  w:animate = "spin"
                  w:h = "5"
                  w:m = "r-2.5"
                  w:svg = "stroke-4 stroke-cap-round stroke-join-round"
                  w:w = "5">
                  <circle
                    cx = "12"
                    cy = "12"
                    r = "10"
                    w:opacity = "25"
                    w:svg = "fill-none stroke-current"/>
                  <path
                    d = "M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                    w:opacity = "75"
                    w:svg = "fill-current"/>
                </svg>
              </template>
              <p
                x-text = "progress ? 'Submitting' : error ? 'There was an error' : 'Successfully submitted'">
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
{{- end -}}