{{- define "main" -}}
  <!--suppress JSUnresolvedVariable, XmlUnboundNsPrefix -->
  {{- partial "animation.html" . -}}
  <!--<safe
    w-cursor = "auto not-allowed"/>-->
  <form
    w-display = "hidden"
    w-max-w = "96"
    w-pointer = "auto"
    w-w = "full"
    x-data = "contact"
    x-bind:w-cursor = "progress ? 'not-allowed' : 'auto'"
    x-on:submit.prevent = "submitData">
    <div
      w-space = "y-5"
      w-w = "full"
      x-bind:disabled = "progress">
      <label
        w-display = "block"
        w-h = "full"
        w-position = "relative">
        <input
          placeholder = "&nbsp;"
          type = "text"
          w-bg = "black"
          w-border = "1 rounded-md"
          w-h = "10"
          w-outline = "none"
          w-p = "x-1"
          w-w = "full"
          x-model = "name"/>
        <span
          w-bg = "black"
          w-position = "absolute left-2 top-2"
          w-transform = "~"
          w-transition = "duration-250 ease-in-out paddingTextTransform">
          Name
        </span>
      </label>
      <label
        w-display = "block"
        w-h = "10"
        w-position = "relative">
        <input
          placeholder = "&nbsp;"
          type = "email"
          w-bg = "black"
          w-border = "1 rounded-md"
          w-h = "full"
          w-outline = "none"
          w-p = "x-1"
          w-w = "full"
          x-model = "email"/>
        <span
          w-bg = "black"
          w-position = "absolute left-2 top-2"
          w-transform = "~"
          w-transition = "duration-250 ease-in-out paddingTextTransform">
          E-mail
        </span>
      </label>
      <label
        w-display = "block"
        w-h = "10"
        w-position = "relative">
        <input
          placeholder = "&nbsp;"
          type = "text"
          w-bg = "black"
          w-border = "1 rounded-md"
          w-h = "full"
          w-outline = "none"
          w-p = "x-1"
          w-w = "full"
          x-model = "subject"/>
        <span
          w-bg = "black"
          w-position = "absolute left-2 top-2"
          w-transform = "~"
          w-transition = "duration-250 ease-in-out paddingTextTransform">
          Subject
        </span>
      </label>
      <label
        w-display = "block"
        w-h = "48"
        w-position = "relative">
        <textarea
          placeholder = "&nbsp;"
          type = "text"
          w-bg = "black"
          w-border = "1 rounded-md"
          w-h = "full"
          w-outline = "none"
          w-p = "x-1"
          w-resize = "none"
          w-w = "full"
          x-model = "message"
          x-on:input = "setHeight">
        </textarea>
        <span
          w-bg = "black"
          w-position = "absolute left-2 top-2"
          w-transform = "~"
          w-transition = "duration-250 ease-in-out paddingTextTransform">
          Message
        </span>
      </label>
      <button
        w-bg = "black"
        w-border = "1 rounded-md"
        w-p = "2">
        Submit
      </button>
      <div
        w-h = "14"
        w-m = "x-auto"
        w-max-w = "80"
        w-transform = "~"
        w-transition = "duration-250 ease-in-out opacityTransform"
        w-w = "full"
        x-show = "progress"
        x-transition:enter-start = "opacity-0 translate-y-20"
        x-transition:enter-end = "opacity-100 translate-y-0"
        x-transition:leave = "delay-2500"
        x-transition:leave-start = "opacity-100 translate-y-0"
        x-transition:leave-end = "opacity-0 translate-y-20">
        <!--<safe
          w-bg = "green-500 red-500 yellow-500"/>-->
        <div
          w-align = "items-center"
          w-flex = "~"
          w-h = "full"
          w-justify = "center"
          w-transition = "background duration-250 ease-in-out"
          w-w = "full"
          x-bind:w-bg = "progress ? 'yellow-500' : error ? 'red-500' : 'green-500'">
          <div
            w-align = "items-center"
            w-flex = "~">
            <template
              x-if = "progress">
              <svg
                viewBox = "0 0 24 24"
                xmlns = "http://www.w3.org/2000/svg"
                w-animate = "spin"
                w-h = "5"
                w-m = "r-2.5"
                w-svg = "stroke-4 stroke-cap-round stroke-join-round"
                w-w = "5">
                <circle
                  cx = "12"
                  cy = "12"
                  r = "10"
                  w-opacity = "25"
                  w-svg = "fill-none stroke-current"/>
                <path
                  d = "M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                  w-opacity = "75"
                  w-svg = "fill-current"/>
              </svg>
            </template>
            <p
              x-text = "progress ? 'Submitting' : error ? 'There was an error' : 'Successfully submitted'">
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
{{- end -}}