{{- define "main" -}}
  {{- warnf "rendering password.html" -}}
  <form
    class="lg:w-1/4 md:w-1/2 w-full"
    method="post"
    name="password">
    <label
      class="block flex-1 pos-relative">
      <input
        required
        class="bg-light-500 dark:bg-dark-500 border-1 border-gray-300 border-solid box-border font-montserrat m-0 outline-0 peer p-2 text-dark-500 dark:text-light-500 w-full"
        name="Password"
        placeholder="&nbsp;"/>
      <span
        class="pointer-events-none pos-absolute pos-left-2 pos-top-1.8125 text-gray-500 transform-origin-left peer-focus:transform-scale-75 peer-focus:transform-translate-x--2 peer-focus:transform-translate-y--6 peer-not-placeholder-shown:transform-scale-75 peer-not-placeholder-shown:transform-translate-x--2 peer-not-placeholder-shown:transform-translate-y--6 transition-duration-500 transition-ease transition-transform z-10">Password</span>
    </label>
    <button
      class="bg-dark-500 dark:bg-light-500 hover:bg-dark-900 hover:dark:bg-light-900 border-0 cursor-pointer font-montserrat m-t-6 p-2 text-4 text-light-500 dark:text-dark-500">Submit</button>
  </form>
{{- end -}}