.gitattributes text eol=lf
.gitignore text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.m3u8 text eol=lf
*.md text eol=lf
*.scss text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.vtt text eol=lf
assets/js/bundle.ts text eol=lf
scripts.ts text eol=lf
uno.config.ts text eol=lf