<!--<safe
  w-cursor = "not-allowed pointer"/>-->
<div
  w-h = "8"
  w-position = "absolute left-0 top-1/2"
  w-transform = "~ -translate-y-1/2"
  w-w = "8"
  w-z = "10"
  x-bind:w-cursor = "current === 0 ? 'not-allowed' : 'pointer'">
  <button
    class = "swiper-button-prev"
    w-h = "full"
    w-w = "full">
    <svg
      viewBox = "0 0 24 24"
      w-h = "full"
      w-svg = "fill-none stroke-2 stroke-current stroke-cap-round stroke-join-round"
      w-w = "full">
      <path
        d = "M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z"/>
    </svg>
  </button>
</div>
<div
  w-h = "8"
  w-position = "absolute right-0 top-1/2"
  w-transform = "~ -translate-y-1/2"
  w-w = "8"
  w-z = "10"
  x-bind:w-cursor = "current + 1 === last ? 'not-allowed' : 'pointer'">
  <button
    class = "swiper-button-next"
    w-h = "full"
    w-w = "full">
    <svg
      viewBox = "0 0 24 24"
      xmlns = "http://www.w3.org/2000/svg"
      w-h = "full"
      w-svg = "fill-none stroke-2 stroke-current stroke-cap-round stroke-join-round"
      w-w = "full">
      <path
        d = "M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
    </svg>
  </button>
</div>