<!--suppress HtmlUnknownAttribute -->
{{- $image := .Page.Resources.GetMatch .Destination -}}
<img
  alt = "{{- $image.Title -}}"
  data-lazy = "{{- $image.RelPermalink -}}"
  height = "{{- $image.Height -}}"
  src = "{{- (.Page.Resources.GetMatch (printf "assets/img%v-low.%s" (index (findRE `\d+` .Destination 1) 0) (substr .Destination -3))).RelPermalink -}}"
  width = "{{- $image.Width -}}"
  w-display = "block"
  w-m = "t-5 x-auto"
  w-max-w = "full"
  w-object = "cover"
  w-transition = "duration-250 ease-in-out filter"
  w-w = "3/4"/>