{{- define "main" -}}
  {{- warnf "rendering absolut.html" -}}
  {{- partial "heading.html" (dict "level" 4 "text" "Absolut Bloom") -}}
  {{- partial "gallery.html" (dict "last" 2 "name" "bloom" "parent" .) -}}
  {{- partial "heading.html" (dict "level" 4 "text" "Absolut Blaze") -}}
  {{- partial "gallery.html" (dict "last" 2 "name" "blaze" "parent" .) -}}
  {{- partial "heading.html" (dict "level" 4 "text" "Absolut Hydration") -}}
  {{- partial "image.html" (dict "name" "hydration-1" "parent" .) -}}
  {{- partial "heading.html" (dict "level" 4 "text" "Absolut Mystical") -}}
  {{- partial "video.html" (dict "name" "video-1" "parent" .) -}}
  {{- partial "heading.html" (dict "text" "Brand chosen") -}}
  <p
    class="m-0 m-b-6">Absolut has been consistent with its brand positioning from its name and the unique identity of its bottle to its premium image as it as a brand has reached the absolut world of fame.</p>
  {{- partial "heading.html" (dict "level" 4 "text" "The problem") -}}
  <p
    class="m-0 m-b-6">28 Billion glass bottles and jars go to landfill each year. The average time for a glass bottle to decompose is around 4000 years. While Absolut has made efforts to address its sustainability problem through limited edition bottles made from used and crushed Absolut bottles, it is not a permanent solution. Absolut sells approx 11.7 million 9 litre cases annually. Since many don't dispose of their alcohol bottles in the correct manner, Absolut also adds to the waste that ends in landfill.</p>
  {{- partial "heading.html" (dict "level" 4 "text" "The opportunity") -}}
  <p
    class="m-0 m-b-6">Absolut vodka has a unique opportunity to take action and encourage consumers to up-cycle their bottles and put a full stop to the ugly end of life that many of these bottles might face in the landfills.</p>
{{- end -}}