{{- define "main" -}}
  {{- warnf "rendering bic.html" -}}
  {{- partial "heading.html" (dict "text" "Ambient ads") -}}
  <p
    class="m-0 m-b-6">The strategy statement for ambient ads is: "Get anyone who is walking alone at night, to feel safe by providing light during the dark, because it highlights their way home." In an attempt to stop crime after darkness, the brand BIC highlighter wants to roll out an outdoor campaign which provides bright light on the street by highlighting safety issues.</p>
  {{- partial "gallery.html" (dict "last" 2 "name" "ambient" "parent" .) -}}
  {{- partial "heading.html" (dict "text" "Guerrilla ads") -}}
  <p
    class="m-0 m-b-6">The strategy statement for guerrilla ads is: "Get people to be aware of safety by making them see the necessary boundaries because making them alert should be highlighted." Establishing boundaries is good for one and the people around you. Boundaries are the guidelines that have been created, to manage your actions and interactions.</p>
  {{- partial "gallery.html" (dict "last" 2 "name" "guerrilla" "parent" .) -}}
  {{- partial "heading.html" (dict "text" "Sabotage ads") -}}
  <p
    class="m-0 m-b-6">The strategy statement for sabotage ads is: "Get people to know about the nutritional facts by making the reality stand out because it will help consumers make healthy and informed choices." Advertising is littered with words like "nutritious", "healthy" and "goodness" – even when they're not – we're drawn into the illusion that we're making better choices.</p>
  {{- partial "gallery.html" (dict "last" 2 "name" "sabotage" "parent" .) -}}
{{- end -}}