{{- define "main" -}}
  {{- warnf "rendering bombae-bantai-brewery.html" -}}
  {{- partial "heading.html" (dict "text" "Final output") -}}
  {{- partial "gallery.html" (dict "element" "masonry" "last" 13 "name" "mockup" "parent" .) -}}
  {{- partial "heading.html" (dict "text" "Approach") -}}
  <p
    class="m-0 m-b-6">Bombae Bantai is a project about a brewery, a beer brand that offers a collection of 3 flavours of beers: Sugarush India Pale Ale, Sweet Lime Blonde and Cumin Wheat Ale. Each can has a unique design that symbolises iconic features of the city of Bombay (Mumbai). The work is inspired by The Gateway of India, the Mumbai local train and the Bombay-Worli sea-link.</p>
  <ul
    class="m-0 m-b-6 p-l-6">
    <li>The Gateway of India is a symbol of the history of this city as it's a historical monument.</li>
    <li>The Mumbai Local Train is the city's lifeline and thus, a symbol of the present.</li>
    <li>The Bandra Worli Sea Link is the symbol of the future of Mumbai because of this state-of-the-art construction and great display of modern engineering.</li>
  </ul>
  <p
    class="m-0 m-b-6">In this project, a new typeface has been developed, inspired by graphics, visuals and typefaces on vibrant Indian trucks found and loved all over the country.</p>
  {{- partial "heading.html" (dict "text" "Moodboards") -}}
  {{- partial "image.html" (dict "container" "m-b-6" "image" "max-h-screen-60" "name" "moodboard-1" "parent" .) -}}
  {{- partial "image.html" (dict "container" "m-b-12" "image" "max-h-screen-60" "name" "moodboard-2" "parent" .) -}}
  {{- partial "heading.html" (dict "text" "Colours") -}}
  <p
    class="m-0 m-b-6">The colour palette largely included shades and tints of greens, blues and yellows drawing from the ingredients of the brews themselves. For example, the green chosen for the Sugarush India Pale Ale derives its colour from a sugarcane, the main ingredient for the flavour. The refreshing lime yellow on the Sweet Lime Blonde packaging expresses the characteristics of its namesake fruit. Lastly, the blue of the Cumin Wheat Ale was chosen to represent the thirst quenching nature of the Indian drink 'Jaljeera' it is formulated on.</p>
  <div
    class="display-flex gap-6 m-b-6">
    <div
      class="display-flex flex-1 flex-col gap-x-6 gap-y-3 items-center justify-end">
      <p
        class="m-0">Primary</p>
      <div
        class="md:flex-1 w-full">
        <div
          class="display-flex flex-1 h-20 items-center justify-center"
          style="background:#ffffcc;">
          <p
            class="m-0 text-dark-700">#FFFFCC</p>
        </div>
      </div>
    </div>
    <div
      class="display-flex flex-1 flex-col gap-x-6 gap-y-3 items-center justify-end">
      <p
        class="m-0">Secondary</p>
      <div
        class="md:flex-1 w-full">
        <div
          class="display-flex flex-1 h-20 items-center justify-center"
          style="background:#f50057;">
          <p
            class="m-0 text-light-700">#F50057</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="display-flex flex-wrap md:flex-nowrap gap-6">
    <div
      class="display-flex flex-1 flex-col gap-x-6 gap-y-3 items-center justify-end">
      <p
        class="m-0">Flavour</p>
      <div
        class="display-flex flex-1 gap-3 w-full">
        <div
          class="display-flex flex-1 h-20 items-center justify-center"
          style="background:#fdd835;">
          <p
            class="m-0 text-dark-700">#FDD835</p>
        </div>
        <div
          class="display-flex flex-1 h-20 items-center justify-center"
          style="background:#7cb342;">
          <p
            class="m-0 text-dark-700">#7CB342</p>
        </div>
        <div
          class="display-flex flex-1 h-20 items-center justify-center"
          style="background:#99cccc;">
          <p
            class="m-0 text-dark-700">#99CCCC</p>
        </div>
      </div>
    </div>
    <div
      class="display-flex flex-1 flex-col gap-x-6 gap-y-3 items-center justify-end">
      <p
        class="m-0">Logo</p>
      <div
        class="display-flex flex-1 flex-col gap-3 w-full">
        <div
          class="display-flex flex-1 gap-3 w-full">
          <div
            class="display-flex flex-1 h-20 items-center justify-center"
            style="background:#fdd835;">
            <p
              class="m-0 text-dark-700">#FDD835</p>
          </div>
          <div
            class="display-flex flex-1 h-20 items-center justify-center"
            style="background:#ff9800;">
            <p
              class="m-0 text-dark-700">#FF9800</p>
          </div>
          <div
            class="display-flex flex-1 h-20 items-center justify-center"
            style="background:#c41c00;">
            <p
              class="m-0 text-light-700">#C41C00</p>
          </div>
        </div>
        <div
          class="display-flex flex-1 gap-3 w-full">
          <div
            class="display-flex flex-1 h-20 items-center justify-center"
            style="background:#7cb342;">
            <p
              class="m-0 text-dark-700">#7CB342</p>
          </div>
          <div
            class="display-flex flex-1 h-20 items-center justify-center"
            style="background:#2e7d32;">
            <p
              class="m-0 text-light-700">#2E7D32</p>
          </div>
          <div
            class="display-flex flex-1 h-20 items-center justify-center"
            style="background:#00bcD4;">
            <p
              class="m-0 text-dark-700">#00BCD4</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{- partial "heading.html" (dict "text" "Typography") -}}
  {{- partial "gallery.html" (dict "last" 4 "name" "typography" "parent" .) -}}
  {{- partial "heading.html" (dict "text" "Grid") -}}
  {{- partial "image.html" (dict "container" "m-b-12" "image" "max-h-screen-60" "name" "grid" "parent" .) -}}
  {{- partial "heading.html" (dict "text" "Labels") -}}
  {{- partial "image.html" (dict "container" "m-b-6" "image" "max-h-screen-60" "name" "label-1" "parent" .) -}}
  {{- partial "image.html" (dict "container" "m-b-6" "image" "max-h-screen-60" "name" "label-2" "parent" .) -}}
  {{- partial "image.html" (dict "container" "m-b-12" "image" "max-h-screen-60" "name" "label-3" "parent" .) -}}
  {{- partial "heading.html" (dict "text" "Flavours") -}}
  <div
    class="display-flex flex-wrap gap-6">
    {{- $imageAttributes := "h-30" -}}
    <div
      class="display-flex flex-col md:flex-1 gap-y-3 w-full md:full-auto">
      <p
        class="m-0 text-center">Sugarush India Pale Ale (गन्ना)</p>
      {{- partial "image.html" (dict "image" $imageAttributes "name" "flavour-1" "parent" .) -}}
      <p
        class="m-0">Sugarcane juice is a very popular drink, especially during summer months as a refreshing form of heat relief.</p>
    </div>
    <div
      class="display-flex flex-col md:flex-1 gap-y-3 w-full md:full-auto">
      <p
        class="m-0 text-center">Sweet Lime Blonde (नींबू)</p>
        {{- partial "image.html" (dict "image" $imageAttributes "name" "flavour-2" "parent" .) -}}
      <p
        class="m-0">When combined with cumin powder, chat masala and black salt, lemon juice acts as the best coolant to your body.</p>
    </div>
    <div
      class="display-flex flex-col md:flex-1 gap-y-3 w-full md:w-auto">
      <p
        class="m-0 text-center">Cumin Wheat Ale (जलजीरा)</p>
        {{- partial "image.html" (dict "image" $imageAttributes "name" "flavour-3" "parent" .) -}}
      <p
        class="m-0">A drink mixed with cumin powder is sometimes served as an appetizer, as it is intended to "startle" the taste buds.</p>
    </div>
  </div>
  {{- partial "heading.html" (dict "text" "Dieline") -}}
  {{- partial "image.html" (dict "image" "max-h-screen-80" "name" "dieline" "parent" .) -}}
{{- end -}}
