{{- define "main" -}}
  {{- warnf "rendering etsy.html" -}}
  {{- partial "heading.html" (dict "text" "Tweets") -}}
  {{- partial "gallery.html" (dict "classes" "max-w-5/6 md:max-w-11/12" "element" "swiper" "last" 5 "name" "tweet" "parent" . "swiper" (dict "modules" (slice "autoplay" "navigation"))) -}}
  {{- partial "heading.html" (dict "text" "Final output") -}}
  {{- partial "image.html" (dict "container" "m-x-auto m-y-6" "name" "mockup-1" "parent" .) -}}
  {{- partial "image.html" (dict "container" "m-x-auto m-y-6" "name" "mockup-2" "parent" .) -}}
  {{- partial "image.html" (dict "container" "m-x-auto m-y-6" "name" "mockup-3" "parent" .) -}}
  {{- partial "image.html" (dict "container" "m-x-auto m-y-6" "name" "mockup-4" "parent" .) -}}
  {{- partial "image.html" (dict "container" "m-x-auto m-y-6" "name" "mockup-5" "parent" .) -}}
  {{- partial "image.html" (dict "container" "m-x-auto m-y-6" "name" "mockup-6" "parent" .) -}}
  {{- partial "image.html" (dict "container" "m-x-auto" "name" "mockup-7" "parent" .) -}}
{{- end -}}