{{- define "main" -}}
  {{- warnf "rendering four-forty-four.html" -}}
  {{- partial "heading.html" (dict "text" "Hamilton Beach") -}}
  <p
    class="m-0 m-b-6">The campaign for the home appliances company Hamilton Beach's "Stack & Press Bowl Chopper" took a humorous approach by signifying the chopping of patriarchy. Atypical to the brand's advertising strategy, the objective for this campaign was to leave the audience with a dual message — a utilitarian one, and the other a social one.</p>
  {{- partial "gallery.html" (dict "last" 2 "name" "hamilton" "parent" .) -}}
  {{- partial "heading.html" (dict "text" "Durex") -}}
  <p
    class="m-0 m-b-6">For world's leading sexual well-being brand, Durex, the objective was to produce quirky advertisements while still breaking the stigma and talking about underrepresented subjects. The first advertisement showcases that the brand caters to many a different sizes. The second advertisement talks about the importance of safe sex. The direction for this campaign was to indirectly portray both of the above mentioned messages in a manner that doesn't seem lewd.</p>
  {{- partial "gallery.html" (dict "last" 4 "name" "durex" "parent" .) -}}
  {{- partial "heading.html" (dict "text" "Allstar") -}}
  <p
    class="m-0 m-b-6">Allstar, the fencing clothing, weapons, and installations brand is known for their high quality and steadily evolving nature. The campaign above shows Allstar products in a manner unconventional to the brand — a manner that shows their products in a real life setting. The campaign was almost like a testimonial for the values of innovation and performance the brand is known for.</p>
  {{- partial "gallery.html" (dict "last" 4 "name" "allstar" "parent" .) -}}
  {{- partial "heading.html" (dict "text" "Hershey's") -}}
  <p
    class="m-0 m-b-6">Hershey's' advertising strategy is traditionally focused on the emotional connection consumers have with the Hershey's brand as a whole. The vision behind this campaign was to stay on track with Hershey's actual advertising strategy but steering away from the usual imagery and videos. As such this campaign is in itself a pun for the "Hershey's Kisses" chocolate. Each kiss stain represents a different flavour of the chocolate. While a kiss stain intrinsically is a symbol of emotion and love, the usage of graphical illustrations is a step away from what Hershey's as a brand conventionally do.</p>
  {{- partial "gallery.html" (dict "last" 2 "name" "hershey's" "parent" .) -}}
{{- end -}}