{{- define "main" -}}
  {{- warnf "rendering gender-diversity.html" -}}
  {{- partial "video.html" (dict "name" "video-1" "parent" .) -}}
  {{- partial "heading.html" (dict "text" "Posters") -}}
  {{- partial "image.html" (dict "container" "m-x-auto m-b-12" "name" "poster-1" "parent" .) -}}
  {{- partial "image.html" (dict "container" "m-x-auto m-b-12" "name" "poster-2" "parent" .) -}}
  {{- partial "image.html" (dict "container" "m-x-auto m-b-12" "name" "poster-3" "parent" .) -}}
  {{- partial "image.html" (dict "container" "m-x-auto m-b-12" "name" "poster-4" "parent" .) -}}
  {{- partial "heading.html" (dict "text" "Awards") -}}
  {{- partial "image.html" (dict "container" "m-x-auto m-b-12" "name" "awards-1" "parent" .) -}}
  {{- partial "image.html" (dict "container" "m-x-auto m-b-12" "name" "awards-2" "parent" .) -}}
  {{- partial "heading.html" (dict "text" "Outdoor") -}}
  {{- partial "image.html" (dict "container" "m-x-auto m-b-12" "name" "ooh-1" "parent" .) -}}
  {{- partial "image.html" (dict "container" "m-x-auto m-b-12" "name" "ooh-2" "parent" .) -}}
  {{- partial "image.html" (dict "container" "m-x-auto m-b-12" "name" "ooh-3" "parent" .) -}}
  {{- partial "heading.html" (dict "text" "Car projection") -}}
  {{- partial "image.html" (dict "container" "m-x-auto m-b-12" "name" "car-projection-1" "parent" .) -}}
  {{- partial "heading.html" (dict "text" "Instagram") -}}
  {{- partial "video.html" (dict "name" "video-2" "parent" .) -}}
{{- end -}}