{{- define "main" -}}
  {{- warnf "rendering kindness.html" -}}
  <p
    class="m-0 m-b-6">Kindness can be likened to gold in the sense that it holds immense value in human interactions and relationships. Like gold, kindness is precious and enduring. It doesn't tarnish over time, instead, it shines brightly, leaving a lasting impression. People often cherish acts of kindness much like they treasure gold.</p>
  {{- partial "gallery.html" (dict "element" "masonry" "first" 1 "last" 5 "name" "kindness" "parent" .) -}}
{{- end -}}