{{- define "main" -}}
  {{- warnf "rendering pirelli.html" -}}
  {{- partial "heading.html" (dict "text" "Final output") -}}
  {{- partial "image.html" (dict "container" "m-x-auto m-y-6" "name" "mockup-1" "parent" .) -}}
  {{- partial "image.html" (dict "container" "m-x-auto m-b-12" "name" "mockup-2" "parent" .) -}}
  {{- partial "heading.html" (dict "text" "Brand") -}}
  <p
    class="m-0 m-b-6">Pirelli was founded in Milan in 1872 and today stands as a global brand known for its cutting edge technology, high-end production excellence and passion for innovation. Pirelli tires is a name that screams passion and heritage and is ranked 2<sup>nd</sup> in tyre manufacturing.</p>
  {{- partial "heading.html" (dict "text" "Problem") -}}
  <p
    class="m-0 m-b-6">Pirelli intends to expand their retail footprint beyond Milan starting with China and Brazil, and potentially penetrating the global market. Tyre Manufacturers fall in the category of low interest products, as such generating excitement and attention is a tall task. While Formula 1 and their high-end fashion line 'PZero' has helped them gain attraction from a diverse set of clients, in order to penetrate the global market deeper, Pirelli as a premium tyre brand, clearly needs to mark out their own territory away from road tyres.</p>
  {{- partial "heading.html" (dict "text" "Opportunity") -}}
  <p
    class="m-0 m-b-6">Leveraging experiential advertising, Pirelli can stay in touch with old and new consumers, so that when your luxury car tyres need replacing you will remember that Pirelli is a good option. Telling stories that are accurate and consistent that communicate key Pirelli messages, need to become a vital part of developing the brand and helping the company to reach its strategic goals. The campaign will be in line with Pirelli's new integrated communication model. Integrated means that those who come into contact with the Pirelli name – from seeing it on the relaunched pirelli.com homepage or a front page headline in the New York Times to social media including Facebook, Twitter and Instagram – are taken on a new journey from brand awareness to product consideration.</p>
  {{- partial "heading.html" (dict "text" "Strategy") -}}
  <p
    class="m-0 m-b-6">The key driver behind the ambient campaign is to showcase the signature characteristics, superior performance and innovation of Pirelli.</p>
  <p
    class="m-0 m-b-6">The first deliverable puts the signature "tread" marks of Pirelli tyres on the railings of moving stairs in places like airports and luxury shopping complexes. This activity aims to boost the company's reputation, consolidate brand awareness and increase product consideration with key customers – in particular where tastes are often fickle and preferences change constantly. Through the sense of touch, Pirelli creates a world beyond tyres so that people remain attached to the brand even in those periods when they aren't looking to buy.</p>
  <p
    class="m-0 m-b-6">The second deliverable subtly states Pirelli as the "right tyre" without which a car is nothing but scrap. The key objective is to remind the target audience that Pirelli tyres are what enable their cars to run the way they do.</p>
{{- end -}}