{{- define "main" -}}
  {{- warnf "rendering riding-bitch.html" -}}
  <p
    class="m-0 m-b-6">"Riding Bitch" delves into the concept of toxic masculinity within motorcycle club and workplace subcultures. Through the use of symbols, shapes, and materials emblematic of these worlds, the collection reimagines the narrative, placing women in powerful, dominant roles while challenging traditional gender norms.</p>
  {{- partial "gallery.html" (dict "element" "masonry" "first" 1 "last" 2 "name" "riding-bitch" "parent" .) -}}
{{- end -}}