{{- define "main" -}}
  {{- warnf "rendering weco.html" -}}
  {{- partial "heading.html" (dict "text" "Facebook") -}}
  {{- partial "gallery.html" (dict "classes" "max-w-5/6 md:max-w-11/12" "element" "swiper" "last" 10 "name" "facebook" "parent" . "swiper" (dict "modules" (slice "autoplay" "navigation"))) -}}
  <div
    class="flex flex-wrap gap-6">
    <div
      class="md:flex-1">
      {{- partial "heading.html" (dict "text" "Email") -}}
      <div
        class="md:h-100 lg:h-120 xl:h-200 overflow-y-auto w-full">
        {{- partial "image.html" (dict "name" "email" "parent" .) -}}
      </div>
    </div>
    <div
      class="m-t--6 md:flex-1 md:m-t-0">
      {{- partial "heading.html" (dict "text" "Bag Stuffer") -}}
      <div
        class="flex flex-col gap-y-6">
        {{- partial "image.html" (dict "name" "bag-2" "parent" .) -}}
        {{- partial "image.html" (dict "name" "bag-1" "parent" .) -}}
      </div>
    </div>
  </div>
  {{- partial "heading.html" (dict "text" "Instagram") -}}
  <div
    class="flex flex-wrap items-center md:flex-nowrap gap-6">
    <div
      class="md:flex-1 w-full">
      {{- partial "image.html" (dict "image" "max-h-screen-80" "name" "instagram-1" "parent" .) -}}
    </div>
    <div
      class="md:flex-1 w-full">
      {{- partial "video.html" (dict "name" "video-1" "parent" .) -}}
    </div>
  </div>
{{- end -}}