{{- define "main" -}}
  <div
    w-m = "t-20"
    w-p = "5">
    <p
      w-m = "b-5"
      w-text = "2xl center"
      w-w = "full">
      Website is under construction. More content is being added. Please check back soon.
    </p>
    <div
      w-flex = "~"
      w-gap = "x-5 y-5">
      {{- range first 2 (sort (where .Site.RegularPages ".Section" "=" "work") ".Params.Index").Reverse -}}
        <a
          href = "{{- .RelPermalink -}}"
          w-aspect = "square"
          w-display = "block"
          w-w = "full lg:masonryLg sm:masonrySm">
            {{- $lowCover := index (.Resources.Match "assets/cover-low*") 0 -}}
            {{- $originalCover := .Resources.GetMatch (replace $lowCover "-low" "") -}}
          <img
            alt = ""
            data-lazy = "{{- $originalCover.RelPermalink -}}"
            height = "{{- $originalCover.Height -}}"
            src = "{{- $lowCover.RelPermalink -}}"
            width = "{{- $originalCover.Width -}}"
            w-h = "full"
            w-object = "cover"
            w-transition = "duration-250 ease-in-out filter"
            w-w = "full"/>
        </a>
      {{- end -}}
    </div>
  </div>
{{- end -}}