//noinspection CssUnknownTarget
@import "swiper/swiper";
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
input[type = "number"] {
  appearance: textfield;
}