//noinspection CssUnknownTarget
@font-face {
  font-display: swap;
  font-family: 'ftnk';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ftnk-400.woff2') format('woff2');
}
//noinspection CssUnknownTarget
@font-face {
  font-display: swap;
  font-family: 'ftnk';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/ftnk-700.woff2') format('woff2');
}