input:focus + span,
input:not(:placeholder-shown) + span,
textarea:focus + span,
textarea:not(:placeholder-shown) + span {
  --u-apply: transform-scale-75 transform-translate-x--2 transform-translate-y--6;
}
media-player[data-started] media-poster {
  --u-apply: hidden;
}
media-poster img {
  --u-apply: h-full;
}
video {
  --u-apply: max-h-screen-80;
}
[lazy]:not(.loaded) {
  --u-apply: filter-blur-10;
}
.skippy-filters > div:last-of-type {
  --u-apply: pointer-events-none pos-absolute pos-top-0 w-full;
}
.skippy-filters swiper-slide {
  --u-apply: opacity-50;
}
.skippy-filters .swiper-slide-active {
  --u-apply: opacity-100;
}
.swiper-button-disabled {
  --u-apply: pointer-events-none opacity-50;
}