media-player[data-started] media-poster {
  display:none;
}
media-poster img {
  position:absolute;left:50%;top:50%;height:100%;--u-translate-x:-50%;transform:translateX(var(--u-translate-x)) translateY(var(--u-translate-y)) translateZ(var(--u-translate-z)) rotate(var(--u-rotate)) rotateX(var(--u-rotate-x)) rotateY(var(--u-rotate-y)) rotateZ(var(--u-rotate-z)) skewX(var(--u-skew-x)) skewY(var(--u-skew-y)) scaleX(var(--u-scale-x)) scaleY(var(--u-scale-y)) scaleZ(var(--u-scale-z));--u-translate-y:-50%;transform:translateX(var(--u-translate-x)) translateY(var(--u-translate-y)) translateZ(var(--u-translate-z)) rotate(var(--u-rotate)) rotateX(var(--u-rotate-x)) rotateY(var(--u-rotate-y)) rotateZ(var(--u-rotate-z)) skewX(var(--u-skew-x)) skewY(var(--u-skew-y)) scaleX(var(--u-scale-x)) scaleY(var(--u-scale-y)) scaleZ(var(--u-scale-z));
}
video {
  max-height:80vh;
}
[lazy]:not(.loaded) {
  --u-blur:blur(10px);filter:var(--u-blur) var(--u-brightness) var(--u-contrast) var(--u-drop-shadow) var(--u-grayscale) var(--u-hue-rotate) var(--u-invert) var(--u-saturate) var(--u-sepia);
}
.skippy-filters > div:last-of-type {
  pointer-events:none;position:absolute;top:0;width:100%;
}
.skippy-filters swiper-slide {
  opacity:0.5;
}
.skippy-filters .swiper-slide-active {
  opacity:1;
}
.swiper-button-disabled {
  pointer-events:none;opacity:0.5;
}