//noinspection CssUnknownTarget
@import "swiper/swiper";
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
input[type = "number"] {
  appearance: textfield;
}
.is-animating .swup-transition-slide {
  opacity: 0;
  --tw-translate-y: 5rem;
}
.swiper-slide-thumb-active {
  opacity: 1;
}
.swup-progress-bar {
  --tw-bg-opacity: 1;
  background-color: rgba(34,197,94,var(--tw-bg-opacity));
}