{{- $imageArray := slice -}}
{{- if .name -}}
  {{- $imageNamePrefix := .name -}}
  {{- if .last -}}
    {{- range seq (or .first 1) .last -}}
      {{- $imageArray = $imageArray | append (printf "%s-%v" $imageNamePrefix .) -}}
    {{- end -}}
  {{- else if .sequence -}}
    {{- range .sequence -}}
      {{- $imageArray = $imageArray | append (printf "%s-%v" $imageNamePrefix .) -}}
    {{- end -}}
  {{- end -}}
{{- else if .images -}}
  {{- $imageArray = .images -}}
{{- end -}}
{{- $parent := .parent -}}
{{- if eq .element "masonry" -}}
  <masonry-layout
    cols="2"
    gap="24">
    {{- range $imageArray -}}
      {{- partial "image.html" (dict "name" . "parent" $parent) -}}
    {{- end -}}
  </masonry-layout>
{{- else if eq .element "swiper" -}}
  {{- $swiper := merge (or .swiper dict) (dict "grabCursor" true "preloadImages" false "spaceBetween" 24 "speed" 500) -}}
  {{- if in (index $swiper "modules") "autoplay" -}}
    {{- $swiper = merge $swiper (dict "autoplay" (dict "delay" 5000 "disableOnInteraction" false "pauseOnMouseEnter" false) "speed" 500) -}}
  {{- end -}}
  {{- if eq (index $swiper "effect") "cards" -}}
    {{- $swiper = merge $swiper (dict "cardsEffect" (dict "slideShadows" false)) -}}
  {{- else -}}
    {{- $swiper = merge $swiper (dict "breakpoints" (dict "640" (dict "slidesPerView" 1) "768" (dict "slidesPerView" 2) "1024" (dict "slidesPerView" 3))) -}}
  {{- end -}}
  <div
    {{- if in (index $swiper "modules") "navigation" }} class="pos-relative" {{- end -}}>
    {{- if in (index $swiper "modules") "navigation" -}}
      {{- partial "tooltip.html" (dict "button" "h-fit p-0 pos-absolute pos-left-0 pos-top-1/2 transform-translate-y--1/2" "label" "Previous" "name" "circle-arrow-left") -}}
      {{- partial "tooltip.html" (dict "button" "h-fit p-0 pos-absolute pos-right-0 pos-top-1/2 transform-translate-y--1/2" "label" "Next" "name" "circle-arrow-right") -}}
    {{- end -}}
    <swiper-container
      class="{{- or .classes "" -}}"
      data-swiper="{{- $swiper | jsonify -}}"
      init="false">
      {{- range $imageArray -}}
        <swiper-slide>
          {{- partial "image.html" (dict "name" . "parent" $parent) -}}
        </swiper-slide>
      {{- end -}}
    </swiper-container>
  </div>
{{- else if or (not .element) (eq .element "flex") -}}
  {{- range $index, $element := $imageArray -}}
    {{- if eq (mod $index 2) 0 -}}
      <div
        class="display-flex gap-x-6 m-b-6">
        {{- partial "image.html" (dict "container" "m-b-6 md:m-0" "flex" true "name" $element "parent" $parent) -}}
        {{- partial "image.html" (dict "flex" true "name" (index $imageArray (add $index 1)) "parent" $parent) -}}
      </div>
    {{- end -}}
  {{- end -}}
{{- end -}}