{{- $backgroundSet := false -}}
{{- $label := or .label "Label" -}}
{{- $paddingSet := false -}}
{{- $buttonClass := printf "block border-0 border-rounded-1.5 cursor-pointer outline-0 text-current %s" (or .button "") -}}
{{- if not (strings.Contains $buttonClass "bg-") -}}
  {{- $buttonClass = printf "%s bg-transparent" $buttonClass -}}
{{- end -}}
{{- if not (strings.Contains $buttonClass "p-") -}}
  {{- $buttonClass = printf "%s p-0" $buttonClass -}}
{{- end -}}
<button
  aria-label="{{- $label -}}"
  class="{{- $buttonClass -}}"
  type="button">
  {{- partial "icon.html" (dict "name" .name "size" .size) -}}
  <span
    class="bg-light-900 dark:bg-dark-100 border-rounded-1 hidden font-montserrat p-2 pointer-events-none pos-absolute pos-left-0 post-top-0 text-current w-max">
    {{- $label -}}
  </span>
</button>