{{- warnf "rendering video: '%s' for '%s'" .name .parent.Title -}}
{{- $cc := .parent.Resources.GetMatch (printf "assets/%s/%s-cc.vtt" .name .name) -}}
{{- $poster := .parent.Resources.GetMatch (printf "assets/%s/%s-poster.jpg" .name .name) -}}
<media-player
  src="{{- (.parent.Resources.GetMatch (printf "assets/%s/%s.m3u8" .name .name)).RelPermalink -}}">
  <media-provider></media-provider>
  <media-video-layout
    thumbnails="{{- (.parent.Resources.GetMatch (printf "assets/%s/%s-thumbs.vtt" .name .name)).RelPermalink -}}"></media-video-layout>
</media-player>