{{- define "main" -}}
  <div
    w-h = "3/4"
    w-pos = "relative"
    w-w = "full">
    <svg
      viewBox = "0 0 1000 1000"
      w-h = "full"
      w-svg = "fill-none"
      w-w = "full">
      <path
        d = "M820.14 215.8H179.86v128.05m160.07 120.21V784.2H500V464.06h160.07l.27 318.55"
        w-svg = "stroke-15 stroke-pink-200"/>
    </svg>
    <svg
      viewBox = "0 0 24 24"
      w-h = "8"
      w-pos = "absolute bottom-0 left-1/2"
      w-svg = "fill-none"
      w-transform = "~ -translate-x-1/2"
      w-w = "8">
      <path
        d = "M19 9l-7 7-7-7"
        w-svg = "stroke-2 stroke-black stroke-cap-round stroke-join-round"/>
    </svg>
  </div>
  <div
    w-h = "2000">
  </div>
{{- end -}}