{{- define "main" -}}
  {{- warnf "rendering index.html" -}}
  <div
    class="box-border h-screen-85 overflow-hidden pos-relative w-full">
    <p
      class="m-0 pos-absolute pos-left-1/5 pos-top-36 w-fit">My goal is to deliver innovative solutions that make-up meaningful difference.</p>
    <h1
      class="flex flex-wrap md:flex-nowrap items-center font-900 lg:gap-x-12 md:gap-x-6 xl:gap-x-24 m-0 overflow-hidden pos-absolute pos-top-48 text-24 text-center lg:text-48 md:text-48 xl:text-72">
      <span
        class="flex-1 text-center">Art</span>
      <span
        class="flex-1 text-center">Director</span>
    </h1>
    <div
      class="pos-absolute pos-bottom-12 pos-left-3 md:pos-left-12 w-fit">
      <p
        class="m-0 w-fit">Strategic thinker</p>
      <p
        class="m-0 w-fit">Campaign marketing</p>
      <p
        class="m-0 w-fit">Creative strategist</p>
      <p
        class="m-0 w-fit">Advertising expert</p>
      <p
        class="m-0 w-fit">Fashion enthusiast</p>
    </div>
    <p
      class="m-0 pos-absolute pos-bottom-0 pos-left-1/2 w-fit">Creative problem-solver driving impactful campaigns for positive change.</p>
  </div>
{{- end -}}