{{- define "main" -}}
  {{- warnf "rendering index.html" -}}
  {{- range (slice (.GetPage "/work/advertising/") (.GetPage "/work/fashion/")) -}}
    {{- partial "heading.html" (dict "text" .Title) -}}
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      {{- range where .Pages.ByWeight.Reverse "Kind" "eq" "page" | first 3 -}}
        <a
          class="group pos-relative"
          href="{{- .RelPermalink -}}">
          {{- partial "image.html" (dict "input" (.Resources.GetMatch (printf "assets/%s" "cover.jpg")) "parent" .) -}}
          <h4
            class="bg-dark-900/75 box-border flex font-400 h-full items-center justify-center m-0 opacity-0 group-hover:opacity-100 p-3 pos-absolute pos-left-0 pos-top-0 text-8 text-center text-light-500 transition-duration-500 transition-ease transition-opacity w-full">
            {{- .Title -}}
          </h4>
        </a>
      {{- end -}}
    </div>
    <a
      class="decoration-none flex gap-x-2 group items-center m-l-auto m-t-6 pos-relative text-4 text-current md:text-6 w-max"
      href="{{- .RelPermalink -}}">
      <span>Explore all</span>
        {{- partial "icon.html" (dict "name" "circle-arrow-right" "size" 6) -}}
        <div
          class="bg-current h-0.5 pos-absolute pos-bottom--1 transition-duration-500 transition-ease transition-width w-0 group-hover:w-full"></div>
    </a>
  {{- end -}}
{{- end -}}