@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100 900;
  src: url('~/assets/montserrat-italic.woff2') format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100 900;
  src: url('~/assets/montserrat-regular.woff2') format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* region align-items */

.items-center {
  align-items: center;
}

/* endregion */

/* region background-color */

.bg-light-500 {
  background-color: #f2f2f2;
}

.bg-light-900 {
  background-color: #dde1e3;
}

/* endregion */

/* region border-color */

.border-gray-300 {
  border-color: #d1d5db;
}

/* endregion */

/* region border-radius */

.border-rounded-1 {
  border-radius: 0.25rem;
}

.border-rounded-1\.5 {
  border-radius: 0.375rem;
}

.border-b-rounded-1\.5 {
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.border-t-rounded-1\.5 {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

/* endregion */

/* region border-style */

.border-solid {
  border-style: solid;
}

/* endregion */

/* region border-width */

.border-0 {
  border-width: 0;
}

.border-0\.25 {
  border-width: 0.0625rem;
}

.border-b-0\.25 {
  border-bottom-width: 0.0625rem;
}

/* endregion */

/* region bottom */

.bottom--26 {
  bottom: -6.5rem;
}

/* endregion */

/* region box-sizing */

.box-border {
  box-sizing: border-box;
}

/* endregion */

/* region color */

.text-current {
  color: currentColor;
}

.text-dark-500 {
  color: #1f1f1f;
}

/* endregion */

/* region column-gap */

.gap-x-1 {
  column-gap: 0.25rem;
}

.gap-x-3 {
  column-gap: 0.75rem;
}

/* endregion */

/* region cursor */

.cursor-pointer {
  cursor: pointer;
}

/* endregion */

/* region display */

.block {
  display: block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

/* endregion */

/* region fill */

.fill-current {
  fill: currentColor;
}

/* endregion */

/* region flex-direction */

.flex-col {
  flex-direction: column;
}

/* endregion */

/* region font-family */
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
/* endregion */

/* region font-size */

.text-3 {
  font-size: 0.75rem;
}

/* endregion */

/* region gap */

.gap-3 {
  gap: 0.75rem;
}

/* endregion */

/* region height */

.h-0 {
  height: 0;
}

.h-24 {
  height: 6rem;
}

.h-full {
  height: 100%;
}

/* endregion */

/* region justify-content */

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

/* endregion */

/* region left */

.left-0 {
  left: 0;
}

/* endregion */

/* region max-width */

.max-w-300 {
  max-width: 75rem;
}

/* endregion */

/* region margin */

.m-0 {
  margin: 0;
}

.m-x-auto {
  margin-left: auto;
  margin-right: auto;
}

/* endregion */

/* region min-height */

.min-h-full {
  min-height: 100%;
}

/* endregion */

/* region outline-width */

.outline-0 {
  outline-width: 0;
}

/* endregion */

/* region padding */

.p-2 {
  padding: 0.5rem;
}

.p-x-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* endregion */

/* region pointer-events */

.pointer-none {
  pointer-events: none;
}

/* endregion */

/* region position */

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.pos-relative {
  position: relative;
}

/* endregion */

/* region right */

.right-3\/8 {
  right: 37.5%;
}

/* endregion */

/* region row-gap */

.gap-y-1\.5 {
  row-gap: 0.375rem;
}

/* endregion */

/* region text-align */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* endregion */

/* region text-decoration */

.decoration-none {
  text-decoration: none;
}

/* endregion */

/* region text-transform */

.uppercase {
  text-transform: uppercase;
}

/* endregion */

/* region top */

.top-0 {
  top: 0;
}

/* endregion */

/* region width */

.w-full {
  width: 100%;
}

/* endregion */

/* region z-index */

.z-1 {
  z-index: 1;
}

/* endregion */

/* region after */

[class*='after:']::after {
  content: '';
}

/* region background-color */

.after\:bg-current::after {
  background-color: currentColor;
}

/* endregion */

/* region border-radius */

.after\:border-rounded-0\.25::after {
  border-radius: 0.0625rem;
}

/* endregion */

/* region bottom */

.after\:bottom-0\.5::after {
  bottom: 0.125rem;
}

/* endregion */

/* region height */

.after\:h-0\.5::after {
  height: 0.125rem;
}

/* endregion */

/* region left */

.after\:left-0::after {
  left: 0;
}

/* endregion */

/* region position */

.after\:pos-absolute::after {
  position: absolute;
}

/* endregion */

/* region transition-duration */

.after\:transition-duration-250::after {
  transition-duration: 250ms;
}

/* endregion */

/* region transition-property */

.after\:transition-width::after {
  transition-property: width;
}

/* endregion */

/* region width */

.after\:w-0::after {
  width: 0;
}

/* endregion */

/* endregion */

/* region dark */

/* region background-color */

.dark .dark\:bg-dark-100 {
  background-color: #3c3c3c;
}

.dark .dark\:bg-dark-500 {
  background-color: #1f1f1f;
}

.dark .dark\:border-gray-500 {
  border-color: #6b7280;
}

/* endregion */

/* region color */

.dark .dark\:text-light-500 {
  color: #f2f2f2;
}

/* endregion */

/* endregion */

/* region hover */

/* region background-color */

.hover\:bg-light-900:hover {
  background-color: #dde1e3;
}

/* endregion */

/* region dark */

/* region background-color */

.dark .hover\:dark\:bg-dark-900:hover {
  background-color: #0f0f0f;
}

/* endregion */

/* endregion

/* region after */

/* region width */

.hover\:after\:w-full:hover::after {
  width: 100%;
}

/* endregion */

/* endregion */

/* endregion */

/* region group-hover */

/* region display */

.group:hover .group-hover\:block {
  display: block;
}

/* endregion */

/* endregion */

/* region lg */

@media (min-width: 1024px) {
  /* region padding */

  .lg\:p-x-32 {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  /* endregion */
}

/* endregion */

/* region md */

@media (min-width: 768px) {
  /* region display */

  .md\:block {
    display: block;
  }

  .md\:hidden {
    display: none;
  }

  /* endregion */

  /* region flex-direction */

  .md\:flex-row {
    flex-direction: row;
  }

  /* endregion */

  /* region padding */

  .lg\:p-x-16 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  /* endregion */

  /* region position */

  .md\:pos-static {
    position: static;
  }

  /* endregion */

  /* region right */
  .md\:right-0 {
    right: 0;
  }
  /* endregion */

  /* region width */

  .md\:w-unset {
    width: unset;
  }

  /* endregion */
}

/* endregion */
