---
interface Props {
  title: string
}

const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="initial-scale=1,width=device-width" name="viewport">
    <title>{title}</title>
  </head>
  <body>
    <slot/>
  </body>
</html>
